!!!
%html
  %head
    %title Competitive Analysis HQ
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.pull_top
    .navbar.transparent.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: "brand" do
            %strong Competitive Analysis HQ
    %section#feature_slider
      %article#showcasing.slide{:style => "background: url('/assets/backgrounds/landscape.png') no-repeat top center;background-size:cover"}
        .email-container
          %h2 Be The First To Track Your Competition
          %h3.subtitle Join The Early Invite List
          %h3#email-error.hidden Please enter a valid email.
          %form
            =text_field_tag 'email',nil, placeholder: "Your Email Address"
            %button.btn-success.btn.btn-large Sign Up Now &raquo;
    #features
      .container
        .section_header
          %h3 How It Works
        .row.feature
          .span6
            = image_tag "showcase1.png"
          .span6.info
            %h3
              = image_tag "features-ico1.png"
              Track Your Competitors' Every Move
            %p
              Easily understand the technology, messaging, positioning and marketing strategy your competitors are using to grow their business.
        .row.feature.ss
          .span6.info
            %h3
              = image_tag "features-ico2.png"
              Continuous Monitoring &amp; Instant Alert
            %p
              Be the first to know when your competitors update their site. Keep track of the changes they made to their site copy, CTAs and brand positioning. We will even notify you if they start running A/B tests and will let you know which variation they choose to implement.
          .span6
            = image_tag "showcase2.png"
        .row.feature.ss
          .span6
            = image_tag "showcase3.png"
          .span6.info
            %h3
              = image_tag "features-ico3.png"
              Monitor Email Campaigns
            %p
              Understand how frequently your competitors are emailing their customers, which subject lines they use and they date  &amp; time when their marketing emails are sent. We also help you keep track of their email A/B tests.
        .row.feature.ss
          .span6.info
            %h3
              = image_tag "features-ico6.png"
              Stay One Step Ahead
            %p
              Understand where the market is headed and whether your company is ahead or falling behind.
          .span6
            = image_tag "showcase3.png"
    / starts footer
    %footer#footer
      .container
        .row.credits
          .span12
            .row.social
              .span12
                %a.facebook{:href => "http://facebook.com/competitiveanalysis"}
                  %span.socialicons.ico1
                  %span.socialicons_h.ico1h
                %a.twitter{:href => "http://twitter.com/competitiveanalysis"}
                  %span.socialicons.ico2
                  %span.socialicons_h.ico2h
            .row.copyright
              .span12
                © 2013 Competitive Analysis HQ. All rights reserved

    = render "shared/google_analytics"
